@{
	ViewData["Title"] = "Quản lý giới thiệu";
	var breadCrumb = new LABA_WebAdmin_Corporate.ViewModels.VM_BreadCrumb
	{
		ParentName = "Trang chủ",
		ParentUrl = "/",
		CurrentName = "Giới thiệu"
	};
}
@section Styles{
	<partial name="_P_ViewStyles" />
}
@section Scripts{
	<partial name="_P_ViewScripts" />
	<script src="~/controllers/about_manage.js" asp-append-version="true"></script>
}

<partial name="_P_BreadCrumb" model="breadCrumb" />

<div class="card">
	<div class="card-body" id="div_main_card">
		<div class="card-title">
			<div class="row align-items-center">
				<div class="col-8 col-lg-auto order-1 order-lg-1 mb-3 mb-lg-0">
					<div class="btn-group btn-group-sm" role="group">
						<button type="button" class="btn btn-light-success" disabled>
							<i class="bx bx-plus"></i>
						</button>
						<button type="button" class="btn btn-success" onclick="ShowAddModal(this)">
							Thêm mới
						</button>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-auto order-4 order-lg-3 mb-3 mb-md-0">
					<div class="input-group input-group-sm flex-nowrap justify-content-center justify-content-md-end">
						<div class="input-group-prepend">
							<label class="input-group-text" for="status">Trạng thái</label>
						</div>
						<select class="selectpicker show-tick" data-style="btn-light btn-sm bg-white" id="select_search_status" onchange="Search(this)">
							<option value="0,1" class="">Tất cả</option>
							<option value="0" class="text-danger">Khóa</option>
							<option value="1" class="text-success">Kích hoạt</option>
						</select>
					</div>
				</div>
				<div class="col-4 col-lg-auto order-2  order-lg-4 flex-grow-1  mb-3 mb-lg-0">
					<div class="d-flex justify-content-end">
						<button type="button" class="btn btn-light btn-sm" data-style="zoom-in" id="btn_search" onclick="Search()" data-toggle="tooltip" data-placement="top" title="Làmm mới">
							<i class="bx bx-sync"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="row" id="div_main_content">
			<!--Render Data-->
		</div>
	</div>

	<div class="card-body" id="div_add_panel" style="display:none;">
		<partial name="P_Add" />
	</div>

	<div class="card-body" id="div_edit_panel" style="display:none;">
		<partial name="P_Edit" />
	</div>

	<div class="card-body" id="div_view_panel" style="display:none;">
		<partial name="P_View" />
	</div>
</div>
