<section class="wrapper bg-soft-leaf angled upper-start lower-start">
	<div class="container py-8">
		<div class="row text-center">
			<div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
				<h3 class="display-4 mb-9 me-lg-n5 ">
					<span class="underline-3 style-3 yellow text-gradient gradient-6">Đối tác của Laba The Eco Parks.</span>
				</h3>
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
		<div class="swiper-container blog grid-view mb-17" data-margin="30" data-nav="true" data-autoplay="true" data-dots="true" data-items-xl="5" data-items-md="3" data-items-xs="2">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<figure class="overlay overlay-1 hover-scale rounded bg-light shadow mb-0">
							<a href="#"> <img src="~/assets/img/partner/z1.png" class="partner-img" alt=""><span class="bg"></span></a>
							<figcaption>
								<h5 class="from-top mb-0">Khách hàng 1</h5>
							</figcaption>
						</figure>
					</div>
					<!--/.swiper-slide -->
					<div class="swiper-slide">
						<figure class="overlay overlay-1 hover-scale rounded bg-light shadow mb-0">
							<a href="#"> <img src="~/assets/img/partner/z1.png" class="partner-img" alt=""><span class="bg"></span></a>
							<figcaption>
								<h5 class="from-top mb-0">Khách hàng 1</h5>
							</figcaption>
						</figure>
					</div>
					<!--/.swiper-slide -->
					<div class="swiper-slide">
						<figure class="overlay overlay-1 hover-scale rounded bg-light shadow mb-0">
							<a href="#"> <img src="~/assets/img/partner/z1.png" class="partner-img" alt=""><span class="bg"></span></a>
							<figcaption>
								<h5 class="from-top mb-0">Khách hàng 1</h5>
							</figcaption>
						</figure>
					</div>
					<!--/.swiper-slide -->
					<div class="swiper-slide">
						<figure class="overlay overlay-1 hover-scale rounded bg-light shadow mb-0">
							<a href="#"> <img src="~/assets/img/partner/z1.png" class="partner-img" alt=""><span class="bg"></span></a>
							<figcaption>
								<h5 class="from-top mb-0">Khách hàng 1</h5>
							</figcaption>
						</figure>
					</div>
					<!--/.swiper-slide -->
					<div class="swiper-slide">
						<figure class="overlay overlay-1 hover-scale rounded bg-light shadow mb-0">
							<a href="#"> <img src="~/assets/img/partner/z1.png" class="partner-img" alt=""><span class="bg"></span></a>
							<figcaption>
								<h5 class="from-top mb-0">Khách hàng 1</h5>
							</figcaption>
						</figure>
					</div>
					<!--/.swiper-slide -->
					<div class="swiper-slide">
						<figure class="overlay overlay-1 hover-scale rounded bg-light shadow mb-0">
							<a href="#"> <img src="~/assets/img/partner/z1.png" class="partner-img" alt=""><span class="bg"></span></a>
							<figcaption>
								<h5 class="from-top mb-0">Khách hàng 1</h5>
							</figcaption>
						</figure>
					</div>
					<!--/.swiper-slide -->
					<div class="swiper-slide">
						<figure class="overlay overlay-1 hover-scale rounded bg-light shadow mb-0">
							<a href="#"> <img src="~/assets/img/partner/z1.png" class="partner-img" alt=""><span class="bg"></span></a>
							<figcaption>
								<h5 class="from-top mb-0">Khách hàng 1</h5>
							</figcaption>
						</figure>
					</div>
					<!--/.swiper-slide -->
					<div class="swiper-slide">
						<figure class="overlay overlay-1 hover-scale rounded bg-light shadow mb-0">
							<a href="#"> <img src="~/assets/img/partner/z1.png" class="partner-img" alt=""><span class="bg"></span></a>
							<figcaption>
								<h5 class="from-top mb-0">Khách hàng 1</h5>
							</figcaption>
						</figure>
					</div>
					<!--/.swiper-slide -->
				</div>
				<!--/.swiper-wrapper -->
			</div>
			<!-- /.swiper -->
		</div>
		<!-- /.swiper-container -->
	</div>
	<!-- /.container -->
</section>