
<!--start overlay-->
<div class="overlay toggle-btn-mobile"></div>
<!--end overlay-->
<!--Start Back To Top Button-->
<a href="javascript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
<div class="footer">
	<p class="mb-0">
		&copy; 2022 <a href="https://h2aits.com/" target="_blank">H2A IT Solution</a>. All rights reserved.
	</p>
</div>