<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div class="d-flex mx-auto">
			<a href="http://labadalat.com/" target="_blank" title="Xem trang">
				<img src="~/assets/images/logo/laba_logo.png" height="55"/>
			</a>
		</div>
		<a href="javascript:;" class="toggle-btn ml-auto">
			<i class="bx bx-menu"></i>
		</a>
	</div>
	<!--navigation-->
	<ul class="metismenu" id="menu">
		<li>
			<a href="/">
				<div class="parent-icon icon-color-1">
					<i class="bx bx-home"></i>
				</div>
				<div class="menu-title">Trang chủ</div>
			</a>
		</li>
		<li class="menu-label">Quản lý</li>
		<li>
			<a href="/thong-tin-doanh-nghiep">
				<div class="parent-icon icon-color-3">
					<i class="bx bx-info-square"></i>
				</div>
				<div class="menu-title">Thông tin</div>
			</a>
		</li>
		<li>
			<a href="/gioi-thieu">
				<div class="parent-icon icon-color-4">
					<i class="bx bx-donate-blood"></i>
				</div>
				<div class="menu-title">Giới thiệu</div>
			</a>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon icon-color-5">
					<i class="bx bx-spa"></i>
				</div>
				<div class="menu-title">Dịch vụ</div>
			</a>
			<ul>
				<li>
					<a href="/danh-muc-dich-vu"><i class="bx bx-list-ul"></i>Danh mục</a>
				</li>
				<li>
					<a href="/dich-vu"><i class="bx bx-food-menu"></i>Danh sách dịch vụ</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon icon-color-6">
					<i class="bx bx-book-open"></i>
				</div>
				<div class="menu-title">Tin tức</div>
			</a>
			<ul>
				<li>
					<a href="/danh-muc-tin-tuc"><i class="bx bx-list-ul"></i>Danh mục</a>
				</li>
				<li>
					<a href="/tin-tuc"><i class="bx bx-food-menu"></i>Danh sách tin tức</a>
				</li>
			</ul>
		</li>
	</ul>
	<!--end navigation-->
</div>