
<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content border-0">
		<div class="modal-header align-items-center p-3 bg-success">
			<h5 class="flex-grow-1 text-center text-uppercase lis-font-weight-500 mb-0 text-white" id="header_view_title"></h5>
			<button type="button" class="close text-white-50" style="opacity:1" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body p-3">
			<div class="card">
				<div class="card-header d-flex align-items-center font-weight-bolder text-primary p-1">
					<i class="bx bx-info-square font-20 mr-1"></i>
					<span>Thông tin</span>
				</div>
				<div class="card-body">
					<div class="form-group row mb-0">
						<label class="col-sm-3 col-form-label">Tên:</label>
						<div class="col-sm-9 d-flex align-items-center">
							<span id="view_name"></span>
						</div>
					</div>
					<div class="form-group row mb-0">
						<label class="col-sm-3 col-form-label">Thứ tự:</label>
						<div class="col-sm-9 d-flex align-items-center">
							<span id="view_order"></span>
						</div>
					</div>
					<div class="form-group row mb-0">
						<label class="col-sm-3 col-form-label">Trạng thái:</label>
						<div class="col-sm-9 d-flex align-items-center" id="view_status">
						</div>
					</div>
					<div class="form-group row mb-0">
						<label class="col-sm-3 col-form-label">Mô tả:</label>
						<div class="col-sm-9 d-flex align-items-center">
							<span id="view_description"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="card h-100 mb-0">
						<div class="card-header d-flex align-items-center font-weight-bolder text-primary p-1">
							<i class="bx bx-history font-20 mr-1"></i>
							<span>Nhật ký</span>
						</div>
						<div class="card-body">
							<div class="">
								<label class="font-weight-bolder text-secondary">Ngày tạo:</label>
								<div class="media align-items-center">
									<div>
										<img src="https://via.placeholder.com/110x110" width="40" height="40" class="rounded-circle shadow p-1" id="img_created_user_avatar" />
									</div>
									<div class="media-body ml-2">
										<p class="mb-0 font-weight-bolder" id="view_created_by"></p>
										<small class="mb-0 text-secondary" id="view_created_at"></small>
									</div>
								</div>
							</div>
							<div class="dropdown-divider"></div>
							<div class="">
								<label class="font-weight-bolder text-secondary">Ngày cập nhật:</label>
								<div class="media align-items-center">
									<div>
										<img src="https://via.placeholder.com/110x110" width="40" height="40" class="rounded-circle shadow p-1" id="img_updated_user_avatar" />
									</div>
									<div class="media-body ml-2">
										<p class="mb-0 font-weight-bolder" id="view_updated_by"></p>
										<small class="mb-0 text-secondary" id="view_updated_at"></small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card h-100 mb-0">
						<div class="card-header d-flex align-items-center font-weight-bolder text-primary p-1">
							<i class="bx bx-image font-20 mr-1"></i>
							<span>Hình ảnh</span>
						</div>
						<div class="card-body text-center">
							<img src="" class="mw-100 rounded" style="object-fit: contain" id="view_image" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
